.card__title {
  width: 100%;
  height: 67px;
  background-color: rgba(47, 49, 48, 1);
  color: rgba(255, 255, 255, 1);
  margin: 0;
  box-sizing: border-box;
  padding: 15px 30px;
  font-family: 'Montserrat Semibold', 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 37px;
}
