.form__button {
  width: 160px;
  height: 50px;
  background-color: rgba(255, 232, 31, 1);
  border: none;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(15, 15, 3, 1);
  /* margin: 0 0 0 auto; */

}

.form__button:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 401px) and (max-width: 1280px) {
  .form__button {
    width: 110px;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .form__button {
    width: 90px;
  }
}