.card__characteristic {
  width: 194px;
  margin: 0 0 0 30px;
  color: rgba(15, 15, 3, 1);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .card__characteristic {
    width: 150px;
  }
}